name: ai_ready
description: "Practical AI Skills in 30 Days"
publish_to: 'none'

version: 1.0.0+22

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  shared_preferences: ^2.2.2
  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true
  assets:
    - assets/icons/ai_ready_icon.png

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/icons/ai_ready_icon.png"
  remove_alpha_ios: true

